services:
  auth:
    build: ./authServer
    container_name: auth_service
    env_file:
      - ./authServer/.env
    ports:
      - "8000:8000"
    networks:
      - backend
    depends_on:
      - mongo

  profile:
    build: ./profileServer
    container_name: profile_service
    env_file:
      - ./profileServer/.env
    ports:
      - "8002:8002"
    networks:
      - backend
    depends_on:
      - mongo
      - redis

  blog:
    build: ./blogServer
    container_name: blog_service
    env_file:
      - ./blogServer/.env
    ports:
      - "8001:8001"
    networks:
      - backend
    depends_on:
      - mongo

  redis:
    image: redis:7-alpine
    container_name: redis_service
    ports:
      - "18073:18073"   
    networks:
      - backend

  mongo:
    image: mongo:6
    container_name: mongo_service
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  mongo_data:
