version: "3.9"

services:
  zookeeper:
   
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - backend
    volumes:
      - ./zookeeper_data:/opt/zookeeper/data # Ensures ZK metadata persists

  kafka:
    image: wurstmeister/kafka:2.11-1.1.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_DELETE_TOPIC_ENABLE: 'true'
      KAFKA_CREATE_TOPICS: "test-topic:1:1"
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_LOG_DIRS: "/kafka-logs" 
    volumes:
      - ./kafka_data:/kafka-logs # This is where the data will now be stored
    depends_on:
      - zookeeper
    networks:
      - backend

  auth:
    build: ./authServer
    container_name: auth_service
    env_file:
      - ./authServer/.env
    ports:
      - "8000:8000"
    networks:
      - backend
    volumes:
      - ./authServer:/app  
      - /app/node_modules 
      - ./api-gateway/log:/shared-logs  

  profile:
    build: ./profileServer
    container_name: profile_service
    env_file:
      - ./profileServer/.env
    ports:
      - "8002:8002"
    networks:
      - backend
    volumes:
      - ./profileServer:/app
      - /app/node_modules
      - ./api-gateway/log:/shared-logs

  blog:
    build: ./blogServer
    container_name: blog_service
    env_file:
      - ./blogServer/.env
    ports:
      - "8001:8001"
    networks:
      - backend
    volumes:
      - ./blogServer:/app
      - /app/node_modules
      - ./api-gateway/log:/shared-logs

  nginx:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:80"
    networks:
      - backend
    depends_on:
      - blog
      - auth
      - profile
    volumes:
      - ./api-gateway/log:/var/log/nginx

networks:
  backend:
    driver: bridge
